.h1{
    text-align: center;
}

body {
    background-color: rgb(230, 197, 108);
}

.an{
  text-decoration:none;
   border-radius:50px;
   padding:5px;
   border: 1px solid red;
   color: white;
   background-color: red;
   font-family: serif;
}

.p{
    border: 1px solid rgb(14, 13, 13);
    border-radius: 100px;
    padding: 30px;
    background-color: rgb(14, 13, 13);
    color:white;
}

p img{
    margin-left: 100px;
}

header{
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px;
}

.aw{
    border: 5px solid rgb(230, 197, 108);
    border-radius: 100px;
    text-decoration: none;
    padding: 10px;
}

.footerd{
    background-color: grey;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 10px;
}

.gif{
    height: 20px;
}

.aq{
    text-decoration-color: red;
    color: white;
}
